<%- include('partials/header.ejs') %>

<div class="main-container query">
    <div class="container">
        <% if (locals.query) { %>
            <div class="result row d-flex">
                <h2>Search result:</h2>
                <% query.forEach((item, index) => { %>
                    <div class="col-2  poster-card <%= index > 5 ? 'mt-3' : '' %>">
                        <!-- <%= item.title %> -->
                        <!-- <img class="rounded " src="<%= item.images.jpg.image_url %>" alt="<%= item.title %> poster"> -->
                        <div class="rounded" style="background-image: url('<%= item.images.jpg.image_url %>');"></div>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>
</div>


<%- include('partials/footer.ejs') %>